@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600&family=Kaushan+Script&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}
* {
    padding: 0%;
    margin: 0%;
}

body {
  background-color: white;
  font-family: var(--fonte-padrao);
}
a.externo::after {
  content: '\00A0\1F517';
}

header{
  background-color: var(--cor4);
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header > h1{
  color: white;
  font-family: var(--fonte-destaque);
  margin: bottom 20px;
  font-weight: normal;
  font-size: 3em;
  text-shadow: 2px 2px 0px black;
  
}

input[type=text] {
  width: 150px;
  box-sizing: border-box;
  border: 4px solid #2fa866;
  border-radius: 6px;
  font-size: 26px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.3s ease-in-out;
}

input[type=text]:hover {
  width: 90%;
}
main {
  background-color: var(--cor0);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 30px;
}
footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  position: fixed;
  bottom:0;
  left:0;
  width: 1400px;
}




